In [13]:
import pandas as pd

# 생성1
df = pd.DataFrame({
    "name": ['키보드', '마우스', '모니터'],
    "price": [17000, 25000, 78000],
    "spec": ['유선', '무선', '22inch']
})
df
df.columns
df.head()

  name  price    spec
0  키보드  17000      유선
1  마우스  25000      무선
2  모니터  88000  22inch

In [33]:
# 생성2
data = [
    ['키보드', 17000, '유선'],
    ['마우스', 25000, '무선'],
    ['모니터', 78000, '22inch']
]
df = pd.DataFrame(data, columns=["name", "price", "spec"])
df
# 칼럼 보기
df.columns

# 인덱스 설정하기
df.set_index("name")

# 칼럼(열) 검색
df["price"]
df[["name", "price"]]

  name  price
0  키보드  17000
1  마우스  25000
2  모니터  78000

In [61]:
import pandas as pd

# 생성1
df = pd.DataFrame({
    "name": ['키보드', '마우스', '모니터'],
    "price": [17000, 25000, 78000],
    "spec": ['유선', '무선', '22inch']
})

# DataFrame 클래스의 주요 메서드(함수)
# 데이터프레임 정보 : int64 - 정수형, object - 문자형, Non-null(결측치 아님)
df.info()

# 통계 요약 - 기본적으로 수치형 칼럼이 출력됨
df.describe(include='number')
df.describe(include='object')

# 결측치 보기
df.isnull()
# True인 것의 개수
df.isnull().sum()

# 기본 5개 출력됨
df.head(2)

df.tail(2)

# 칼럼 이름 변경
df = df.rename(columns={"name":"상품", "price": "가격", "spec": "스펙"})
df

# 칼럼 추가(파생 칼럼) - 할인가격
df['할인가격'] = df['가격'] * 0.1
df
df.info()

# csv 파일로 저장 - to_csv()
df.to_csv("product.csv", index=False)

# csv 파일 읽어오기
pd.read_csv("product.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   price   3 non-null      int64
 2   spec    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품      3 non-null      object
 1   가격      3 non-null      int64
 2   스펙      3 non-null      object
 3   할인가격    3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 228.0+ bytes

    상품     가격      스펙    할인가격
0  키보드  17000      유선  1700.0
1  마우스  25000      무선  2500.0
2  모니터  78000  22inch  7800.0