In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "sex": ['M', 'F', np.nan, 'M', 'F'],
    "score" : [5, 4, 3, 4, np.nan]
})
df
df['score'] + 1

0    6.0
1    5.0
2    4.0
3    5.0
4    NaN
Name: score, dtype: float64

In [9]:
pd.isna(df)
pd.isna(df).sum()

df.dropna(subset = 'score')

   sex  score
0    M    5.0
1    F    4.0
2  NaN    3.0
3    M    4.0

In [67]:

exam = pd.read_csv("./datas/exam.csv")
exam

exam['nclass'].value_counts()

nclass
1    4
2    4
3    4
4    4
5    4
Name: count, dtype: int64

In [ ]:
# 결측치 만들기
exam.loc[[2, 7, 4], ['math']] = np.nan
exam

# exam.info()

# 평균값으로 결측치 대체하기
# exam['math'].mean()
exam['math'] = exam['math'].fillna(exam['math'].mean())
exam
#exam['math'].isnull().sum()

In [43]:
# 최빈값으로 결측치 대체하기
exam['math'].mode()[0]
exam['math'].fillna(exam['math'].mode()[0])

50.0