### Pandas 
##### Pandas는 구조화된 데이터나 표 형식의 데이터를 빠르고 쉽게 다룰 수 있도록 하는 라이브러리이다.
##### Series는 1차원 데이터, DataFrame은 2차원 데이터

In [117]:
import pandas as pd

growth = pd.Series([143, 150, 157, 160])
print(growth)
type(growth)

0    143
1    150
2    157
3    160
dtype: int64

pandas.core.series.Series

In [7]:
import pandas as pd

growth = pd.Series([143, 150, 157, 160], index=['2018', '2019', '2020', '2021'])
growth

2018    143
2019    150
2020    157
2021    160
dtype: int64

In [1]:
import pandas as pd

data = ['4 cups', '1 cup', '2 large', '1 can']
index= ['Flour', 'Milk', 'Eggs', 'Spam']
dinner = pd.Series(data, index=index, name= 'Dinner')
dinner

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [9]:
index=['2018', '2019', '2020', '2021']

Younghee = pd.Series([143, 150, 157, 160], index=index)
Cheolsu = pd.Series([165, 172, 175, 180], index=index)

growth = pd.DataFrame({
    '영희': Younghee,
    '철수': Cheolsu
})

growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [125]:
index=['2018', '2019', '2020', '2021']

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}
growth = pd.DataFrame(data, columns=['영희', '철수'], index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [141]:
# csv 파일로 내보내기
import pandas as pd

index=['2018', '2019', '2020', '2021']

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}
growth = pd.DataFrame(data, columns=['영희', '철수'], index=index)
growth.to_csv("./source/growth.csv")

In [155]:
# csv 파일 읽어오기
import pandas as pd

growth = pd.read_csv("./source/growth.csv", index_col=0)
print(growth)
growth.shape

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

(4, 2)

In [3]:
import pandas as pd

# fruits = pd.Series({
#     'Apples': 30,
#     'Bananas': 21
# })

fruits = pd.DataFrame({
    'Apples': [30],
    'Bananas': [21]
})

fruits

   Apples  Bananas
0      30       21

In [127]:
import pandas as pd

data = {
    'Apples': [35, 21],
    'Bananas': [41, 34],
}

fruits = pd.DataFrame(data, index = ['2017 Sales', '2018 Sales'])
fruits

            Apples  Bananas
2017 Sales      35       41
2018 Sales      21       34

In [129]:
animals = pd.DataFrame(
    {'Cows': [12, 20], 'Goats': [22, 19]}, 
    index=['Year 1', 'Year 2']
)
animals

animals.to_csv('source/cows and goats.csv')

In [131]:
import pandas as pd

animals = pd.read_csv("source/cows and goats.csv", index_col = 0)
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [209]:
import pandas as pd

member = pd.DataFrame({
    '아이디': ['code1', 'code4', 'code2', 'code6'],
    '이름': ['제리', '루나', '존', '리차드'],
    '성별': ['남', '여', '', '남'],
})
print(member)
# print(member['성별'])
print(member['성별']=='여')
print(member[member['성별']=='여'])  # 성별을 '여'로 저장
print(member.loc[2, '이름'])  # 존
print(member.iloc[2, 1])      # 존
print(member.loc[0:3, '이름'])  # 마지막 인덱스(3) 포함
print(member.iloc[0:4, 1])      # 마지막 인덱스(4) 포함되지 않음

     아이디   이름 성별
0  code1   제리  남
1  code4   루나  여
2  code2    존
3  code6  리차드  남
0    False
1     True
2    False
3    False
Name: 성별, dtype: bool
     아이디  이름 성별
1  code4  루나  여
존
존
0     제리
1     루나
2      존
3    리차드
Name: 이름, dtype: object
0     제리
1     루나
2      존
3    리차드
Name: 이름, dtype: object

In [201]:
import pandas as pd

member = pd.DataFrame({
    '아이디': ['code1', 'code4', 'code2', 'code6'],
    '이름': ['제리', '루나', '존', '리차드'],
    '성별': ['남', '여', '', '남'],
})
member = member.set_index('아이디')
print(member)
print(member.loc['code2', '이름'])
print(member.iloc[2, 0])

        이름 성별
아이디
code1   제리  남
code4   루나  여
code2    존
code6  리차드  남
존
존
아이디
code1     제리
code4     루나
code2      존
code6    리차드
Name: 이름, dtype: object