In [99]:
import pandas as pd

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train.shape, test.shape

((6818, 12), (1705, 11))

In [101]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [11]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [103]:
train.isnull().sum()
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [105]:
# 데이터 전처리
train["Item_Weight"] = train["Item_Weight"].fillna(train["Item_Weight"].min())
train["Outlet_Size"] = train["Outlet_Size"].fillna(train["Outlet_Size"].mode()[0])

test["Item_Weight"] = test["Item_Weight"].fillna(test["Item_Weight"].min())
test["Outlet_Size"] = test["Outlet_Size"].fillna(test["Outlet_Size"].mode()[0])
train.isnull().sum()
test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [107]:
# data preprocessing
print(train.shape, test.shape)
train.drop("Item_Identifier", axis=1, inplace=True)
test.drop("Item_Identifier", axis=1, inplace=True)
print(train.shape, test.shape)
train.info()

(6818, 12) (1705, 11)
(6818, 11) (1705, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                6818 non-null   float64
 1   Item_Fat_Content           6818 non-null   object
 2   Item_Visibility            6818 non-null   float64
 3   Item_Type                  6818 non-null   object
 4   Item_MRP                   6818 non-null   float64
 5   Outlet_Identifier          6818 non-null   object
 6   Outlet_Establishment_Year  6818 non-null   int64
 7   Outlet_Size                6818 non-null   object
 8   Outlet_Location_Type       6818 non-null   object
 9   Outlet_Type                6818 non-null   object
 10  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 586.1+ KB

In [109]:
# data preprocessing
list(train.columns[train.dtypes == object])
cols = ["Item_Fat_Content", "Item_Type", "Outlet_Identifier", "Outlet_Size", 
        "Outlet_Location_Type", "Outlet_Type"]

target = train.pop("Item_Outlet_Sales")
print(train.shape, test.shape)
df = pd.concat([train, test])
print(df.shape)
# print(df)

(6818, 10) (1705, 10)
(8523, 10)

In [111]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in cols:
    df[col] = le.fit_transform(df[col])
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,12.500,1,0.006760,9,42.8112,1,1987,0,2,1
1,12.600,1,0.048741,1,60.4194,1,1987,0,2,1
2,12.800,1,0.075997,6,97.1410,1,1987,0,2,1
3,6.635,2,0.046351,5,37.4506,2,2007,1,1,1
4,13.500,2,0.125170,13,261.4910,1,1987,0,2,1

In [113]:
print(len(train))
train = df.iloc[:len(train)]
test = df.iloc[len(train):]
train.shape, test.shape

6818

((6818, 10), (1705, 10))

In [115]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6818 entries, 0 to 6817
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                6818 non-null   float64
 1   Item_Fat_Content           6818 non-null   int32
 2   Item_Visibility            6818 non-null   float64
 3   Item_Type                  6818 non-null   int32
 4   Item_MRP                   6818 non-null   float64
 5   Outlet_Identifier          6818 non-null   int32
 6   Outlet_Establishment_Year  6818 non-null   int64
 7   Outlet_Size                6818 non-null   int32
 8   Outlet_Location_Type       6818 non-null   int32
 9   Outlet_Type                6818 non-null   int32
dtypes: float64(3), int32(6), int64(1)
memory usage: 426.1 KB

In [119]:
# 검증 데이터 나누기
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=123
)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((5454, 10), (1364, 10), (5454,), (1364,))

In [131]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def rmse(y_val, y_pred):
    return mean_squared_error(y_val, y_pred)**0.5

# 선형 회귀
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_val)

result = mean_squared_error(y_val, y_pred)
print("MSE:", result)

result2 = mean_absolute_error(y_val, y_pred)
print("MAE:", result2)

result3 = rmse(y_val, y_pred)
print("RMSE:", result3)

MSE: 1385670.5262421798
MAE: 883.6093949591829
RMSE: 1177.1450744246351

In [135]:
# 랜덤 포레스트
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(random_state=0)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_val)

result = mean_squared_error(y_val, y_pred)
print("MSE:", result)

result2 = mean_absolute_error(y_val, y_pred)
print("MAE:", result2)

result3 = rmse(y_val, y_pred)
print("RMSE:", result3)

MSE: 1310974.9523246011
MAE: 797.900186979472
RMSE: 1144.9781449113345

In [139]:
# 예측값 성능 평가
pred = rf.predict(test)
pred

# csv 파일 만들기
submit = pd.DataFrame({'pred': pred})
submit.to_csv("result.csv", index=False)

pd.read_csv("result.csv")

             pred
0     1404.877948
1      702.971614
2     2106.804256
3     1611.961722
4     2771.319262
...           ...
1700   298.305032
1701   580.677470
1702  4024.328230
1703   887.025366
1704  1564.017464

[1705 rows x 1 columns]