In [1]:
import pandas as pd

index=['2018', '2019', '2020', '2021']
growth = pd.Series(
    [143, 150, 157, 160], 
    index=index
)
print(growth)

2018    143
2019    150
2020    157
2021    160
dtype: int64

In [3]:
import pandas as pd

index = ['2018', '2019', '2020', '2021']

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

# growth = pd.DataFrame(data, index=index)
growth = pd.DataFrame(data, columns=['영희', '철수'], index=index)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [3]:
print(growth.columns)

growth.rename(columns = {'영희' : 'Rena'}, inplace = True)
print(growth)

Index(['영희', '철수'], dtype='object')
      Rena   철수
2018   143  165
2019   150  172
2020   157  175
2021   160  180

In [5]:
import pandas as pd

df = pd.DataFrame(
          [[15, '남', '은평중'], [17, '여', '동명여고'], [10, 'test', 'test']],
          index=['서준', '대국', 'test'],
          columns=['나이', '성별', '학교']
)
print(df)

      나이    성별    학교
서준    15     남   은평중
대국    17     여  동명여고
test  10  test  test

In [7]:
print(df.index)
print(df.columns)

df = df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'})
print(df)

df = df.rename(index={'서준':'학생1', '대국':'학생2'})
print(df)

Index(['서준', '대국', 'test'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')
      연령    남녀    소속
서준    15     남   은평중
대국    17     여  동명여고
test  10  test  test
      연령    남녀    소속
학생1   15     남   은평중
학생2   17     여  동명여고
test  10  test  test

In [10]:
df.drop('test', axis=0)

    나이 성별    학교
서준  15  남   은평중
대국  17  여  동명여고