In [6]:
import pandas as pd

score = {
    '국어' : [90, 80], 
    '수학' : [80, 75],
    '영어' : [85, 95]
}

df = pd.DataFrame(score, index=['재천', '선영'])
print(df)

# 열선택
print(df['국어'])

# 열 이름도 출력
print(df[['국어']])
print(df[['수학', '영어']])

    국어  수학  영어
재천  90  80  85
선영  80  75  95
재천    90
선영    80
Name: 국어, dtype: int64
    국어
재천  90
선영  80
    수학  영어
재천  80  85
선영  75  95

In [7]:
# 행선택 - loc[이름(문자)], iloc[인덱스(숫자)]
print(df.loc['재천'])
# print(df.iloc[0]) 

print(df.loc[['재천', '선영']])
# print(df.iloc[[0, 1]])

# 행, 열 선택
# print(df.iloc[::])   #전체를 1행 간격으로 출력
# print(df.iloc[::2])  #2행 간격
# print(df.iloc[0:2:1]) # 1행까지 1행 간격으로 출력
# print(df.iloc[::-1]) #역순 실행

국어    90
수학    80
영어    85
Name: 재천, dtype: int64
    국어  수학  영어
재천  90  80  85
선영  80  75  95

In [13]:
import pandas as pd

score = {
    '이름' : ['재천', '선영', '일성'],
    '국어' : [90, 80, 70], 
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}

df = pd.DataFrame(score)
df = df.set_index('이름')
print(df)

# 특정 요소 1개 선택 
# loc([행, 열])
print(df.loc['선영', '영어'])
print(df.iloc[1, 2])

# # 특정 요소 2개 이상 선택
print(df.loc['재천', '수학':'영어'])
print(df.iloc[0, [1, 2]])
# print(df.loc[['재천', '일성'], ['수학', '영어']])

    국어  수학   영어
이름
재천  90  80   85
선영  80  75   95
일성  70  95  100
95
95
수학    80
영어    85
Name: 재천, dtype: int64
수학    80
영어    85
Name: 재천, dtype: int64

In [16]:
import pandas as pd

score = {
    '이름' : ['재천', '선영', '일성'],
    '국어' : [90, 80, 70], 
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}

df = pd.DataFrame(score)
print(df)

# 새로운 행 추가
df.loc[3] = ['윤아', 75, 80, 90]
print(df)

# 열추가
df['음악'] = 80
print(df)
df['미술'] = [80, 90, 100, 70]
print(df)

   이름  국어  수학   영어
0  재천  90  80   85
1  선영  80  75   95
2  일성  70  95  100
   이름  국어  수학   영어
0  재천  90  80   85
1  선영  80  75   95
2  일성  70  95  100
3  윤아  75  80   90
   이름  국어  수학   영어  음악
0  재천  90  80   85  80
1  선영  80  75   95  80
2  일성  70  95  100  80
3  윤아  75  80   90  80
   이름  국어  수학   영어  음악   미술
0  재천  90  80   85  80   80
1  선영  80  75   95  80   90
2  일성  70  95  100  80  100
3  윤아  75  80   90  80   70

In [3]:
# 요소 추가, 삭제
import pandas as pd
index = ['재천', '선영', '일성']
score = {
    # '이름' : ['재천', '선영', '일성'],
    '국어' : [90, 80, 70], 
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}

df = pd.DataFrame(score, index=index)
# df = df.set_index('이름')
print(df)

# df2 = df.copy()
# # df2 = df2.drop('일성')  #행 삭제
# df2 = df2.drop(['재천', '선영'], axis=0)  #행 삭제
# print(df2)

# df3 = df.copy()
# df3 = df3.drop('수학', axis=1)  # 열 삭제
# print(df3)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100

In [6]:
# 요소 수정(변경)
import pandas as pd

score = {
    '이름' : ['재천', '선영', '일성'],
    '국어' : [90, 80, 70], 
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}

df = pd.DataFrame(score)
df = df.set_index('이름')
print(df)

# '재천'의 영어 점수 변경
print(df.iloc[0, 2])
df.iloc[0, 2] = 95
print(df)

# '일성'의 수학 점수 변경
print(df.loc['일성', '수학'])
df.loc['일성', '수학'] = 80
print(df)

# 1번에 2개 변경
df.loc['선영', ['국어', '수학']] = 70, 60
print(df)

    국어  수학   영어
이름
재천  90  80   85
선영  80  75   95
일성  70  95  100
85
    국어  수학   영어
이름
재천  90  80   95
선영  80  75   95
일성  70  95  100
95
    국어  수학   영어
이름
재천  90  80   95
선영  80  75   95
일성  70  80  100
    국어  수학   영어
이름
재천  90  80   95
선영  70  60   95
일성  70  80  100