In [23]:
# 산술 연산
16 / 3

16 // 3

16 % 3

# 거듭제곱
4 ** 2
4 * 4

# 제곱근
16 ** 0.5

import numpy as np
np.sqrt(16)

# 우선 순위
4 + 3 * 2
(4 + 3) * 2

# 문자 더하기
"py" + "thon"

"py" * 3

"py" + "3"

14

In [33]:
# 자료형

type(1)

type(1.1)

type("hello")

type("3")

type(True), type(False)

# bool 연산
True + False + True

2

In [47]:
# 변수
americano = 4500
americano

latte = 5000
latte

americano + latte

result = americano + latte
print(result)

americano = americano - 1000
print(americano)

# 다중 변수 할당
a, b = 10, 20
print(a)
print(b)
print(a + b)

9500
3500
10
20
30

In [63]:
# 자료형 변환
# 암시적(암묵적) 형 변환
a = 2
b = 0.17
a = a + b
print(a)
print(type(a))

# 명시적 형변환(캐스팅 - casting)
box = 2.17
print(box)
print(str(box) + "는 실수입니다")
print("정수형: ", int(box))

# 입력은 문자형이므로 숫자로 변환함
num = input("숫자 입력")
num = int(num)
print(num)
print(num + 10)

2.17
<class 'float'>
2.17
2.17는 실수입니다
정수형:  2

숫자 입력 1

1
11

In [79]:
# 비교 연산자
10 > 5

10 < 5

10 == 10

10 != 5

a , b = 10, 10

a == b

a >= b

a > b

c, d, e = "빅데이터", "빅데이터", "데이터"

c == d
d == e

False

In [2]:
# 조건문
# 1. if구문
age = 14

# if age >= 15:
#     print("관람가 입니다.")
# print("나이는 ", age, "세입니다.")

# 2. if ~ else 구문
if age >= 15:
    print("관람가 입니다.")
else:
    print("관람불가 입니다.")
print("나이는 ", age, "세입니다.")

관람불가 입니다.
나이는  14 세입니다.

In [6]:
# 3. if ~ elif ~ else 구문
점수 = 87

if 점수 >= 90:
    print('A 학점')
elif 점수 >= 80:
    print('B 학점')
elif 점수 >= 70:
    print('C 학점')
else:
    print('F 학점')
print("Score : ", 점수, "점")

B 학점
Score :  87 점

In [153]:
# 리스트
listbox = [4, 2, 10, 5, 8]
listbox
type(listbox)

# 인덱싱 접근
print(listbox[0])
print(listbox[4])
print(listbox[-1])

# 인덱싱과 슬라이싱
even = [2, 4, 6, 8, 10]

print(even[0])
print(even[3])
print(even[-1])

# 시작인덱스 : 끝인덱스
print(even[0:3])
print(even[:3])
print(even[:-1])
print(even[:])

print(even[::2]) 

# 문자 리스트
listbox2 = ["길벗", "시나공", "빅데이터"]
print(listbox2)

# 요소(값) 추가
listbox2.append("분석")
listbox2.insert(1, "자격증")

# 요소 삭제
# del listbox2[0]
listbox2.pop()
print(listbox2)

4
8
8
[4, 2]
[10, 5, 8]
[4, 2, 10, 5, 8]
['길벗', '시나공', '빅데이터']
['길벗', '자격증', '시나공', '빅데이터']
['자격증', '시나공', '빅데이터']

In [161]:
# 딕셔너리
dictbox = {"name": "쿠키", "level": 5}
print(dictbox)
print(type(dictbox))

# 키, 값
print(dictbox.keys())
print(dictbox.values())

# 값 조회
print(dictbox["name"])
print(dictbox["level"])

# 값 추가
dictbox["id"] = "cookie"
print(dictbox)

# 값 변경(업데이트)
dictbox["level"] = 6
print(dictbox["level"])

# 값 삭제
# del dictbox["name"]
print(dictbox)

# 딕셔너리를 리스트로 변환
list(dictbox.values())

# 딕셔너리 생성
cook = ["분식", "한식", "중식"]
number = [3, 4, 1]

store = {
    "요리": cook,
    "점포수": number 
}
print(store)

{'name': '쿠키', 'level': 5}
<class 'dict'>
dict_keys(['name', 'level'])
dict_values(['쿠키', 5])
쿠키
5
{'name': '쿠키', 'level': 5, 'id': 'cookie'}
6
{'name': '쿠키', 'level': 6, 'id': 'cookie'}
{'요리': ['분식', '한식', '중식'], '점포수': [3, 4, 1]}