In [23]:
# 산술 연산
16 / 3

16 // 3

16 % 3

# 거듭제곱
4 ** 2
4 * 4

# 제곱근
16 ** 0.5

import numpy as np
np.sqrt(16)

# 우선 순위
4 + 3 * 2
(4 + 3) * 2

# 문자 더하기
"py" + "thon"

"py" * 3

"py" + "3"

14

In [33]:
# 자료형

type(1)

type(1.1)

type("hello")

type("3")

type(True), type(False)

# bool 연산
True + False + True

2

In [47]:
# 변수
americano = 4500
americano

latte = 5000
latte

americano + latte

result = americano + latte
print(result)

americano = americano - 1000
print(americano)

# 다중 변수 할당
a, b = 10, 20
print(a)
print(b)
print(a + b)

9500
3500
10
20
30

In [63]:
# 자료형 변환
# 암시적(암묵적) 형 변환
a = 2
b = 0.17
a = a + b
print(a)
print(type(a))

# 명시적 형변환(캐스팅 - casting)
box = 2.17
print(box)
print(str(box) + "는 실수입니다")
print("정수형: ", int(box))

# 입력은 문자형이므로 숫자로 변환함
num = input("숫자 입력")
num = int(num)
print(num)
print(num + 10)

2.17
<class 'float'>
2.17
2.17는 실수입니다
정수형:  2

숫자 입력 1

1
11

In [79]:
# 비교 연산자
10 > 5

10 < 5

10 == 10

10 != 5

a , b = 10, 10

a == b

a >= b

a > b

c, d, e = "빅데이터", "빅데이터", "데이터"

c == d
d == e

False

In [2]:
# 조건문
# 1. if구문
age = 14

if age >= 15:
    print("관람가 입니다.")
print("나이는 ", age, "세입니다.")

# 2. if ~ else 구문
if age >= 15:
    print("관람가 입니다.")
else:
    print("관람불가 입니다.")
print("나이는 ", age, "세입니다.")

관람불가 입니다.
나이는  14 세입니다.

In [9]:
# 3. if ~ elif ~ else 구문
# 점수 = 87

점수 = input("점수 입력: ")
점수 = int(점수) #문자형을 정수형으로 변환해야 함. 
print(type(점수))

if 점수 >= 90:
    print('A 학점')
elif 점수 >= 80:
    print('B 학점')
elif 점수 >= 70:
    print('C 학점')
else:
    print('F 학점')
print("Score : ", 점수, "점")

점수 입력:  85

<class 'int'>
B 학점
Score :  85 점

In [17]:
# 반복문
# while문
# 1부터 10까지 출력하기 
n = 1

while n <= 10:
    print(n)
    n = n + 1
    
# 1부터 10까지 더하기
n = 1
total = 0
while n <= 10:
    total = total + n
    print("n =", n, "total =", total)
    n = n + 1
    
print("합계는", total, "입니다")

1
2
3
4
5
6
7
8
9
10
n = 1 total = 1
n = 2 total = 3
n = 3 total = 6
n = 4 total = 10
n = 5 total = 15
n = 6 total = 21
n = 7 total = 28
n = 8 total = 36
n = 9 total = 45
n = 10 total = 55
합계는 55 입니다

In [16]:
# 반복 조건문(while ~ if ~ break문)

n = 1

while True:
    if n > 10:
        break
    print(n)
    n = n + 1

# 1부터 10까지 더하기
n = 1
total = 0
while True:
    if n > 10:
        break
    total = total + n
    n = n + 1

print("합계는", total, "입니다")

1
2
3
4
5
6
7
8
9
10
합계는 55 입니다

In [32]:
# for문

# 리스트 - 여러 개의 자료를 저장하는 자료구조이다.
cart = "라면"
print(cart)

carts = ["라면", "계란", "우유"]
print(carts)
print(type(carts))

# range(처음값, 종료값) 사용 
# 종료값은 종료값-1로 출력됨
print(range(10))
print(range(0, 10))

print(list(range(10)))
print(list(range(0, 10)))

# 1부터 10까지 출력하기
# 1씩 증가
for i in range(1, 11, 1):
    print(i)

# 2씩 증가
for i in range(1, 11, 2):
    print(i, end=' ')

# 1부터 10까지의 합계 구하기
total = 0
for i in range(1, 11):
    total = total + i

print("\n합계는", total, "입니다")

라면
['라면', '계란', '우유']
<class 'list'>
range(0, 10)
range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9
10
1 3 5 7 9
합계는 55 입니다

In [39]:
# 구구단 출력하기
# dan = 4
dan = int(input("단 입력: "))

for i in range(1, 10):
    print(dan, 'x', i, '=', dan * i)

# 문자 곱하기
print('a' * 4)
print('3' * 10)

aaaa
3333333333

In [9]:
# 리스트 - 여러 개의 자료를 저장하는 자료구조이다.
cart = "라면"
print(cart)

carts = ["라면", "계란", "우유"]
print(carts)
print(type(carts))

# 인덱싱
print(carts[0])
print(carts[2])
print(carts[-1])

# 슬라이싱(범위)
print(carts[0:3])
print(carts[0:])
print(carts[:])

print(carts[0:-1])
print(carts[0:2])

# for ~ in 구문
print("라면" in carts)
print("커피" in carts)

for cart in carts:
    print(cart)

# 요소 수정
carts[2] = "생수"

# 요소 추가(맨 뒤)
carts.append("쌀")
print(carts)

# 요소 삭제(맨 뒤)
carts.pop()
print(carts)

라면
['라면', '계란', '우유']
<class 'list'>
라면
우유
우유
['라면', '계란', '우유']
['라면', '계란', '우유']
['라면', '계란', '우유']
['라면', '계란']
['라면', '계란']
True
False
라면
계란
우유
['라면', '계란', '생수', '쌀']
['라면', '계란', '생수']
1 3 5 7 9

In [20]:
# 리스트의 연산
numbers = [1, 2, 3, 4]
print(numbers)

print(numbers[2])
print(numbers[-1])

# 전체 조회
for number in numbers:
    print(number)

# 요소 더하기
total = 0
for number in numbers:
    total = total + number

# print("합계:", total)
print(f'합계: {total}')

# 요소의 평균
# avg = total / 4
avg = total / len(numbers)
print(f'평균: {avg}')

[1, 2, 3, 4]
3
4
1
2
3
4
합계: 10
평균: 2.5

In [35]:
# 딕셔너리
dictbox = {"name": "쿠키", "level": 5}
print(dictbox)
print(type(dictbox))

# 키, 값
print(dictbox.keys())
print(dictbox.values())

# 요소 조회
print(dictbox["name"])
print(dictbox["level"])

# 요소 추가
dictbox["id"] = "cookie"
print(dictbox)

# 값 변경(업데이트)
dictbox["level"] = 6
print(dictbox["level"])

# 요소 삭제
del dictbox["name"]
print(dictbox)

# 딕셔너리 생성 - 요소의 값이 리스트인 경우
cook = ["분식", "한식", "중식"]
count = [3, 4, 1]

store = {
    "요리": cook,
    "점포수": count
}
print(store)
print(type(store))

# "한식"에 접근
print(store["요리"][1])
print(store["점포수"][1])

{'name': '쿠키', 'level': 5}
<class 'dict'>
dict_keys(['name', 'level'])
dict_values(['쿠키', 5])
쿠키
5
{'name': '쿠키', 'level': 5, 'id': 'cookie'}
6
{'level': 6, 'id': 'cookie'}
{'요리': ['분식', '한식', '중식'], '점포수': [3, 4, 1]}
<class 'dict'>
한식
4

In [34]:
# 튜플
a = (1, 2, 3)
print(a)
print(type(a))

# 인덱싱
print(a[0])
print(a[-1])

# 수정 불가
# a[1] = 4

# 삭제 불가
# del a[2]

# 튜플 요소 1개 생성
b = (1, )
print(type(b))

(1, 2, 3)
<class 'tuple'>
1
3
<class 'tuple'>