In [19]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
# df.info()
# df.head()

# 1. 0제외
cond = (df['f5'] == 0)
print(df[~cond])

# 2. 결측치 처리
min_val = df['views'].min()
# print(min_val)
df['views'] = df['views'].fillna(min_val)

# 3. 중앙값 
print(int(df['views'].median()))

        id    age city    f1  f2    f3    f4         f5  subscribed    views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12   2534.0
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16   7312.0
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21    493.0
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07   1338.0
..     ...    ...  ...   ...  ..   ...   ...        ...         ...      ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18   6687.0
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02    865.0
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02   6090.0
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

[102 rows x 10 columns]
5924

In [35]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
df

# 1. 최빈값 - mode()
freq = df['subscribed'].mode()[0]
print(freq)

day = freq.split('-')[2]
day
print(int(day))

# 2. value_counts() 이용 
# df['subscribed'].value_counts()
# df = df['subscribed'].value_counts()
# print(df)

# print(df.index[0])
# day = df.index[0].split('-')
# day = df.index[0].split('-')[2]
# print(int(day))

2025-02-17
17

In [42]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
# df.info()
# df.isnull().sum()

# df['f1']

# 1. 결측치가 있는 행 제거 
df = df.dropna()
# df.isnull().sum()

# 2. 새 칼럼 추가
df['new'] = df['views'] / df['f1']
df

# 3. 내림차순 정렬 - 가장 큰 값
df = df.sort_values('new', ascending=False)
df
print(int(df.iloc[0, 1]))

22

#### 값 변경, 정렬, 합계

In [56]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")

df.isnull().sum()

# 1. 결측치 0으로 대체 
df['views'] = df['views'].fillna(0)
# df.isnull().sum()
df[df['views'] == 0]

# 2. 상위 10번째값(최소값)으로 변경 
df = df.sort_values("views", ascending=False)
views_min = df.iloc[:10, -1].min()

# views_min = df['views'].nlargest(10).iloc[-1]
# print(views_min)

# df['views'][:10] = views_min
df.iloc[:10, -1] = views_min
df.head(11)

# 3. 'views' 칼럼 전체의 합 
print(int(df['views'].sum()))

652812

#### 문자열 슬라이싱, 파생변수, 평균값

In [63]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")

# 1. 'FJ' 포함 데이터 검색 
cond = df['f4'].str.contains('FJ')
# print(df[cond])
# print(len(df[cond]))

# 2. 찾은 데이터 중 'f2' 평균 
df = df[cond]
print(df)
print(round(df['f2'].mean(), 2))
# df

        id   age city     f1  f2      f3    f4         f5  subscribed    views
0     id01   2.0   서울    NaN   0    gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02   9.0   서울   70.0   1     NaN  ENFJ  60.339826  2024-05-12   2534.0
4     id05  24.0   서울   85.0   2     NaN  ISFJ  29.269869  2024-03-07   1338.0
6     id07  36.3   서울   60.0   1     NaN  ISFJ   9.796378  2024-01-11     61.0
7     id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
8     id09   3.3   서울   35.0   2     NaN  ESFJ  17.252986  2024-03-21   2764.0
13    id13  15.0   서울   68.0   0    gold  ESFJ  83.685380  2024-12-30   5643.0
18    id18  41.0   서울   87.0   2    gold  ISFJ  80.138280  2024-03-03   7933.0
24    id24  80.0   부산   44.0   0    gold  INFJ  73.586397  2024-09-11   5976.0
31    id31  86.0   부산   77.0   0    gold  ESFJ  73.586397  2024-02-11   8014.0
32    id32  25.0   부산   64.0   0     vip  ISFJ  13.049921  2024-05-24  17421.0
33    id33  47.0   부산   94.0   0  silver  ENFJ  17.252986  2024-04-02   3880.0
39    id39  56.0   부산   50.0   0     NaN  INFJ  33.308999  2024-12-22      NaN
41    id41  81.0   대구   55.0   0    gold  ENFJ  37.113739  2024-10-04   8640.0
45    id45  97.0   대구   88.0   0    gold  ENFJ  13.049921  2024-06-21   8317.0
52    id52  97.0   대구   82.0   1    gold  ISFJ  90.496999  2024-05-20   8518.0
54    id54  53.0   대구    NaN   1    gold  ENFJ  69.730313  2024-06-21   5872.0
57    id57   3.0   대구  111.0   0  silver  ISFJ  29.269869  2024-01-12   4421.0
59    id59  64.0   대구    NaN   1  silver  ESFJ  20.129444  2024-06-23   4994.0
63    id63  88.0   경기   86.0   1  silver  ISFJ  73.586397  2024-12-01   4053.0
67    id67  66.0   경기   52.0   1     NaN  ISFJ  73.586397  2024-06-17   1159.0
73    id73  90.0   경기    NaN   1     NaN  ISFJ  73.586397  2024-08-12    512.0
81    id81  86.0   경기   50.0   1     NaN  ISFJ  37.113739  2024-09-14    244.0
85    id85  83.6   경기   55.0   0    gold  INFJ  80.138280  2024-09-24   6719.0
99    id99   1.0   경기   47.0   0    gold  ESFJ  97.381034  2024-12-02   6090.0
105  id104  21.0   서울   13.0   0  silver  ESFJ   0.000000  2025-02-17   4556.0
106  id105  21.0   경기   24.0   0    gold  ESFJ   0.000000  2025-02-17   7654.0
119  id118  24.0   부산   94.0   1     vip  ESFJ   0.000000  2025-02-17   2356.0
0.61

#### 필터링, 분산

In [64]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")

# 1. '&' 연산 
cond1 = (df['f3'] == 'gold') 
cond2 = (df['f2'] == 2)
print(df[cond1 & cond2])
new_df = df[cond1 & cond2]
print(new_df)

# 2. 분산 - 각각의 값에서 평균을 뺀 값을 제곱하여 모두 더함 
var = new_df['f1'].var()
print(round(var, 2))

        id   age city    f1  f2    f3    f4         f5  subscribed   views
18    id18  41.0   서울  87.0   2  gold  ISFJ  80.138280  2024-03-03  7933.0
29    id29 -13.5   부산  47.0   2  gold  ENTP  67.886373  2024-08-28  6793.0
42    id42  65.0   대구  48.0   2  gold  ESTP  33.308999  2024-02-09  5999.0
55    id55  75.0   대구  63.0   2  gold  ENTP  13.049921  2024-02-06  6042.0
64    id64  43.0   경기  62.0   2  gold  ESFP  73.586397  2024-02-22  5995.0
68    id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
71    id71  35.0   경기  84.0   2  gold  ISFP  52.667078  2024-07-15  8087.0
101   id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
112  id111  22.0   부산  65.0   2  gold  ENTP   0.000000  2025-02-17  7894.0
118  id117  23.0   대구  65.0   2  gold  INFP   0.000000  2025-02-17  6543.0
        id   age city    f1  f2    f3    f4         f5  subscribed   views
18    id18  41.0   서울  87.0   2  gold  ISFJ  80.138280  2024-03-03  7933.0
29    id29 -13.5   부산  47.0   2  gold  ENTP  67.886373  2024-08-28  6793.0
42    id42  65.0   대구  48.0   2  gold  ESTP  33.308999  2024-02-09  5999.0
55    id55  75.0   대구  63.0   2  gold  ENTP  13.049921  2024-02-06  6042.0
64    id64  43.0   경기  62.0   2  gold  ESFP  73.586397  2024-02-22  5995.0
68    id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
71    id71  35.0   경기  84.0   2  gold  ISFP  52.667078  2024-07-15  8087.0
101   id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
112  id111  22.0   부산  65.0   2  gold  ENTP   0.000000  2025-02-17  7894.0
118  id117  23.0   대구  65.0   2  gold  INFP   0.000000  2025-02-17  6543.0
235.43

#### 값 변경(연산), 필터링 절대값

In [141]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")


# 1. 나이 + 1
df['age'] = df['age'] + 1

# 2. 20대와 30대
cond1 = (df['age'] >= 20) & (df['age'] < 30)
cond2 = (df['age'] >= 30) & (df['age'] < 40)

# 2. 평균의 차를 절대값으로 구하기
result = abs(df[cond1]['views'].mean() - df[cond2]['views'].mean())
print(round(result, 2))
df.head()

263.13

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   3.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02  10.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  28.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  76.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  25.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

### 시계열 데이터, 필터링, 데이터 개수

In [65]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
# df.info()
df['subscribed'] = pd.to_datetime(df['subscribed'])

# 파생 변수 생성(연, 월)
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

# 1. 2024년 2월인 데이터 찾고
# 2. 'f3'이 gold인 데이터 개수
cond1 = (df['year'] == 2024)
cond2 = (df['month'] == 2)
cond3 = (df['f3'] == 'gold')
df = df[cond1 & cond2 & cond3]
print(len(df))

5

#### 필터링, 카테고리, 최빈값

In [67]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")

# 1. 'views' 칼럼이 1000이하 
cond = df['views'] <= 1000
print(df[cond])

# 2. 찾은 데이터중 'f4' 칼럼의 최빈값 
df = df[cond]
most_freq = df['f4'].mode()[0]
print(most_freq)

      id   age city    f1  f2   f3    f4         f5  subscribed  views
3   id04  75.0   서울   NaN   2  NaN  INFP  52.667078  2024-07-21  493.0
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378  2024-01-11   61.0
30  id30  16.0   부산   NaN   0  NaN  ESTJ  17.252986  2024-05-28  240.0
44  id44  44.0   대구   NaN   0  NaN  INTP  16.283854  2024-11-10  546.0
61  id61  87.0   경기  62.0   2  NaN  INTP  69.730313  2024-02-03  218.0
72  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034  2024-01-30  602.0
73  id73  90.0   경기   NaN   1  NaN  ISFJ  73.586397  2024-08-12  512.0
81  id81  86.0   경기  50.0   1  NaN  ISFJ  37.113739  2024-09-14  244.0
93  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397  2024-06-07   42.0
98  id98  39.0   경기  58.0   2  NaN  INFP  98.429899  2024-10-02  865.0
ISFJ

#### 그룹핑, 최대값, 정렬

In [75]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
# print(df)

# 1. 결측치 있는 행 삭제 
df = df.dropna()
# df.info()
# print(df.isnull().sum())

# 2. 지역별 평균
df = df.groupby(['city']).mean(numeric_only=True)
print(df.head())

# 3. 'f2' 칼럼이 가장 큰 지역
print(df['f2'].idxmax())

df = df.sort_values('f2', ascending=False)
print(df.index[0])

            age         f1        f2         f5        views
city
경기    48.704000  61.360000  0.760000  52.106731  8127.880000
대구    49.773333  66.200000  0.666667  27.370166  6819.133333
부산    35.075000  65.875000  0.687500  38.638715  6945.437500
서울    38.000000  60.142857  0.785714  41.122705  7369.142857
서울
서울

#### 시계열데이터, 월별 집계, 인덱스

In [88]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
df

df['subscribed'] = pd.to_datetime(df['subscribed'])
# df.info()
# df['subscribed']

# 1. 월별로 숫자형 칼럼의 합
df['month'] = df['subscribed'].dt.month
# df.info()

df = df.groupby('month').sum(numeric_only=True)
df
# 2. 'views'가 가장 작은 값을 가진 월을 정수로..
df.sort_values('views').index[0]

11

#### 시간 간의 차이 계산(분), 필터링

In [91]:
import pandas as pd

df = pd.read_csv("delivery_time.csv")
# print(df)
# print(df.info())

df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
# print(df.info())

# 1. 예상 도착 시간보다 늦게 도착한 건수 
df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds() / 60
cond1 = df['지연시간'] > 0

# 2. 이동 거리가 7km 이상인 데이터 수
cond2 = df['거리'] > 7
print(len(df[cond1 & cond2]))

311

#### 시간 간의 차이 계산(분), 그룹핑

In [92]:
import pandas as pd

df = pd.read_csv("delivery_time.csv")
# print(df.info())

df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])

# 1. 주문 시간과 실제 도착시간의 차이 - 분 단위 
df['diff'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds() / 60
print(df['diff'])

# 2. 앱종류별 평균 도착시간 
df = df.groupby('앱종류')['diff'].mean()
print(df)

# 3. 가장 빠른 앱 시간(최소값) 
print(round(df.min()))

0      68.283333
1      22.166667
2      71.816667
3      29.950000
4      89.500000
         ...
995    60.300000
996    24.450000
997    28.716667
998    17.700000
999    70.216667
Name: diff, Length: 1000, dtype: float64
앱종류
배고팡    61.818694
배달왕    63.517864
여기여    62.343110
Name: diff, dtype: float64
62

#### 주말, 평일 구분

In [96]:
import pandas as pd

df = pd.read_csv("delivery_time.csv")

df['주문시간'] = pd.to_datetime(df['주문시간'])

# 1. 주말 주문 건수와 평일 주문 건수
df['dayofweek'] = df['주문시간'].dt.dayofweek
df['주말'] = df['dayofweek'] >= 5
# print(df[df['주말']])

weekend = sum(df['주말'])
weekday = sum(~df['주말']) # 평일 
print(weekend, weekday)

# 2. 주말 주문 건수와 평일 주문 건수의 차이(절대값)
print(abs(weekend - weekday))

                   주문시간               실제도착시간               예상도착시간  앱종류     거리  \
5   2022-11-27 15:13:52  2022-11-27 16:47:32  2022-11-27 16:41:28  배달왕  14.85
6   2022-09-25 16:27:43  2022-09-25 17:52:23  2022-09-25 18:13:21  배달왕   9.72
8   2023-04-09 05:21:21  2023-04-09 06:47:46  2023-04-09 05:51:07  배달왕   1.51
23  2023-07-30 16:05:12  2023-07-30 17:25:24  2023-07-30 16:27:24  배달왕   3.58
24  2023-07-09 19:20:05  2023-07-09 20:19:40  2023-07-09 20:48:13  배고팡  10.52
..                  ...                  ...                  ...  ...    ...
987 2023-06-03 19:47:25  2023-06-03 21:11:59  2023-06-03 21:31:58  배달왕   2.72
988 2022-10-08 14:55:02  2022-10-08 16:01:08  2022-10-08 15:31:19  여기여  14.24
989 2022-10-01 14:01:58  2022-10-01 14:51:13  2022-10-01 14:55:00  여기여  16.40
992 2022-09-18 06:21:27  2022-09-18 07:34:52  2022-09-18 06:55:28  배달왕  16.87
993 2023-08-13 17:53:20  2023-08-13 18:43:32  2023-08-13 18:43:52  여기여   6.96

    결제종류      user  dayofweek    주말
5    앱결제  user_204          6  True
6     현금  user_343          6  True
8     카드  user_294          6  True
23    현금  user_119          6  True
24   앱결제  user_403          6  True
..   ...       ...        ...   ...
987   현금  user_132          5  True
988   카드  user_207          5  True
989   현금  user_252          5  True
992   현금  user_181          6  True
993   현금  user_216          6  True

[294 rows x 9 columns]
294 706
412

In [112]:
# 문자열 형 변환
import pandas as pd

df = pd.read_csv("delivery_time.csv")
df

# 1. 'user' 칼럼에서 user 뒤의 숫자 추출
df['user_num'] = df['user'].str[5:]
df['user_num'] 
df.info()

# 2. 추출된 숫자 값을 모두 합한 값 
df['user_num'] = df['user_num'].astype(int)
df['user_num'].sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   주문시간      1000 non-null   object
 1   실제도착시간    1000 non-null   object
 2   예상도착시간    1000 non-null   object
 3   앱종류       1000 non-null   object
 4   거리        1000 non-null   float64
 5   결제종류      1000 non-null   object
 6   user      1000 non-null   object
 7   user_num  1000 non-null   object
dtypes: float64(1), object(7)
memory usage: 62.6+ KB

261387

#### 합계(열방향), 상위 값 선택

In [103]:
import pandas as pd

df = pd.read_csv("school_data.csv")
# print(df)

# 1. 수학, 영어, 국어 점수의 합 
df['total_score'] = df[['수학', '영어', '국어']].sum(axis=1)
# print(df)

# 2. 합이 가장 큰 상위 10명 
# 풀이 1
# top10 = df.nlargest(10, 'total_score')

# 풀이 2 
# top10 = df.sort_values('total_score', ascending=False)
# print(top10.iloc[:10])
# top10 = top10.iloc[:10]

# 3. 찾은 10명의 수학 평균 
result = top10['수학'].mean()
print(round(result))

82

#### 데이터합치기(concat)

In [107]:
import pandas as pd

df = pd.read_csv("school_data.csv")
# print(df)

df_science = pd.read_csv("school_data_science.csv")
# print(df_science)

# 1. 왼쪽 + 오른쪽 합치기 
df = pd.concat([df, df_science], axis=1)
df

# 2. 학생별 수학, 영어, 국어, 과학 평균 
df['수영국과평균'] = df[['수학', '영어', '국어', '과학']].mean(axis=1)
df

# 3. 평균이 60 이상인 인원 수 
print(sum(df['수영국과평균'] >= 60))

9