#### 데이터프레임과 시리즈

In [16]:
import pandas as pd

menu = pd.Series(["비빔밥", "김치찌개", "된장찌게"])
menu

price = pd.Series([9000, 8000, 7500])
price
type(price)

pandas.core.series.Series

In [18]:
df = pd.DataFrame({
    "menu": menu,
    "price": price
})
df
type(df)

pandas.core.frame.DataFrame

In [14]:
df = pd.DataFrame({
    "메뉴": ["비빔밥", "김치찌개", "짜장면"],
    "가격": [9000, 8000, 7500],
    "원산지": ["국내산", "국내산", "중국산"]
})
df

# 칼럼 선택
df["메뉴"]
df[["메뉴", "가격"]]

cols = ["메뉴", "가격", "원산지"]
df[cols]

     메뉴    가격  원산지
0   비빔밥  9000  국내산
1  김치찌개  8000  국내산
2   짜장면  7500  중국산

#### 데이터 저장 및 불러오기

In [27]:
import pandas as pd

# 데이터 준비
df = pd.DataFrame({
    "메뉴":['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격":[4500, 5000, 5500, 5000, 4000, 5900, 5300],
    "칼로리":[10, 110, 250, 110, 20, 210, 0],
})
df

df.to_csv("cafe.csv", index=False)

In [37]:
cafe = pd.read_csv("cafe.csv")
cafe
cafe.head(2)
cafe.tail(3)

cafe.shape
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      int64
dtypes: int64(2), object(1)
memory usage: 300.0+ bytes

In [45]:
# 상관 관계
# df.corr()
df.corr(numeric_only=True)

           가격       칼로리
가격   1.000000  0.713227
칼로리  0.713227  1.000000

In [11]:
import pandas as pd
# 범주형 데이터 탐색
df_car = pd.DataFrame({
    "car":['Sedan', 'SUV', 'Sedan', 'SUV', 'SUV', 'SUV', 'Sedan', 'Sedan', 'Sedan', 'Sedan', 'Sedan'],
    "size":['S','M','S','S','M','M','L','S','S', 'M','S']
})
df_car

# 고유값
print(df_car.nunique())
print(df_car['car'].unique())
print(df_car['size'].unique())

# 고유한 값의 개수
print(df_car['car'].value_counts())
print(df_car['size'].value_counts())

car     2
size    3
dtype: int64
['Sedan' 'SUV']
['S' 'M' 'L']
car
Sedan    7
SUV      4
Name: count, dtype: int64
size
S    6
M    4
L    1
Name: count, dtype: int64

In [75]:
df_car.describe()  

df_cafe = pd.read_csv("cafe.csv")
df.head()
df_cafe.describe()
df_cafe.describe(include="object")
df_cafe.describe(include="number")

                가격         칼로리
count     7.000000    7.000000
mean   5028.571429  101.428571
std     631.702160   99.402980
min    4000.000000    0.000000
25%    4750.000000   15.000000
50%    5000.000000  110.000000
75%    5400.000000  160.000000
max    5900.000000  250.000000

In [15]:
import pandas as pd

df = pd.DataFrame({
    "메뉴":['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격":[4500.0, 5000.0, 5500.0, 5000.0, 4000.0, 5900.0, 5300.0],
    "칼로리":[10, 110, 250, 110, 20, 210, 0],
})
df.info()
df.head()

# 자료형 변환
df['가격'] = df['가격'].astype('int')

df['칼로리'] = df['칼로리'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      float64
 2   칼로리     7 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 300.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int32
 2   칼로리     7 non-null      float64
dtypes: float64(1), int32(1), object(1)
memory usage: 272.0+ bytes

In [35]:
# 새 칼럼 추가
# df['new'] = 0

# 기존 칼럼 이용 - 파생 변수
discount = 0.2
# df['할인가'] = df['가격'] * 0.8
df['할인가'] = df['가격'] * (1 - discount)

df['할인가'] = df['할인가'].astype('int')

# 데이터 삭제
# 행 삭제
# df.drop(1, axis=0, inplace=True)

# 열 삭제
# df.drop("new", axis=1, inplace=True)
# df = df.drop("new", axis=1)
# df = df.drop(columns=["할인가격"], axis=1)

# 칼럼 이름 변경
print(df.columns)

# df = df.rename(columns={"할인가" : "할인가격"})
df.rename(columns={"할인가" : "할인가격"}, inplace=True)

df.info()
df.head()

Index(['메뉴', '가격', '칼로리', '할인가'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int32
 2   칼로리     7 non-null      float64
 3   할인가격    7 non-null      int32
dtypes: float64(1), int32(2), object(1)
memory usage: 300.0+ bytes

      메뉴    가격    칼로리  할인가격
0  아메리카노  4500   10.0  3600
1   카페라떼  5000  110.0  4000
2   카페모카  5500  250.0  4400
3   카푸치노  5000  110.0  4000
4  에스프레소  4000   20.0  3200

In [47]:
# 인덱싱 / 슬라이싱 - loc
print(df.loc[0])

print(df.loc[2, "가격"])

print(df.loc[:, "가격"])

print(df.loc[2, "메뉴":"칼로리"])

print(df.loc[2, ["메뉴", "칼로리"]])

print(df.loc[2:4, ["메뉴", "칼로리"]])

메뉴      아메리카노
가격       4500
칼로리      10.0
할인가격     3600
Name: 0, dtype: object
5500
0    4500
1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int32
메뉴      카페모카
가격      5500
칼로리    250.0
Name: 2, dtype: object
메뉴      카페모카
칼로리    250.0
Name: 2, dtype: object
      메뉴    칼로리
2   카페모카  250.0
3   카푸치노  110.0
4  에스프레소   20.0

In [151]:
# 인덱싱 / 슬라이싱 - iloc
df = pd.read_csv('cafe.csv')
print(df)

# df.iloc[0]
print(df.iloc[1, 0])
print(df.loc[1, "메뉴"])

print(df.iloc[:, 1])
print(df.iloc[2, 0:2])

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20
5    밀크티  5900  210
6     녹차  5300    0
카페라떼
카페라떼
0    4500
1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64
메뉴    카페모카
가격    5500
Name: 2, dtype: object