In [131]:
# Series
import pandas as pd

s = pd.Series(["사과", "감", "바나나"])
# s = pd.Series(["사과", "감", "바나나"], index=[1, 2, 3])

print(s.index)
# s.index=[1, 2, 3]
print(s)
print(type(s))

RangeIndex(start=0, stop=3, step=1)
0     사과
1      감
2    바나나
dtype: object
<class 'pandas.core.series.Series'>

In [133]:
# Series
import pandas as pd

s = pd.Series([3000, 2000, 1000])
print(s)

0    3000
1    2000
2    1000
dtype: int64

In [143]:
# DataFrame
name = pd.Series(["사과", "감", "바나나"])
price = pd.Series([3000, 2000, 1000])

data = {
    "name": name,
    "price": price
}

df = pd.DataFrame(data)
df

print(type(df))
print(df.columns)

# 정보
df.info()

# 탐색
df['name']
df['price']

<class 'pandas.core.frame.DataFrame'>
Index(['name', 'price'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   price   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

0    3000
1    2000
2    1000
Name: price, dtype: int64

In [93]:
import pandas as pd

# 데이터프레임 생성
data = {
    'Age': [24, 27, 22, 32],
    'Score': [85.5, 90.3, 76.8, 88.2]
}

df = pd.DataFrame(data)
print(df)

# index 추가
df.index = ['대한', '민국', '한강', '남산']
# df = pd.DataFrame(data, index=['대한', '민국', '한강', '남산'])

df

   Age  Score
0   24   85.5
1   27   90.3
2   22   76.8
3   32   88.2
RangeIndex(start=0, stop=4, step=1)
Index(['Age', 'Score'], dtype='object')

    Age  Score
대한   24   85.5
민국   27   90.3
한강   22   76.8
남산   32   88.2

In [97]:
import pandas as pd

# 데이터프레임 생성
data = {
    'Name': ['대한', '민국', '한강', '남산'],
    'Age': [24, 27, 22, 32],
    'Score': [85.5, 90.3, 76.8, 88.2]
}
df = pd.DataFrame(data)
df

# index 설정
df = df.set_index('Name')
df

# 칼럼 이름 바꾸기
df_new = df.rename(columns={'Age':'나이', 'Score':'점수'})
df_new


# 데이터 탐색
# print(df.head())        # 앞 5개 데이터 확인
# print(df.describe())    # 통계 요약

# 특정 열 필터링
# df_filtered = df[df['Score'] > 80]
# print(df_filtered)

# 그룹화와 평균 계산
# average_age = df.groupby('Name')['Age'].mean()
# print(average_age)

      나이    점수
Name
대한    24  85.5
민국    27  90.3
한강    22  76.8
남산    32  88.2