In [5]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.koreabaseball.com/Record/TeamRank/TeamRank.aspx'
response = requests.get(url)
# print(response)
# print(response.text)
html = BeautifulSoup(response.text, 'html.parser')
# print(html)

first_table = html.select_one('table.tData > tbody')
# print(first_table)

팀 = first_table.select('tr > td:nth-of-type(2)')
# print(팀)

# for i in 팀:
#   print(i.text)
[i.text for i in 팀]

승 = first_table.select('tr > td:nth-of-type(4)')
[int(i.text) for i in 승]

패 = first_table.select('tr > td:nth-of-type(5)')
[int(i.text) for i in 패]

무 = first_table.select('tr > td:nth-of-type(6)')
[int(i.text) for i in 무]

승률 = first_table.select('tr > td:nth-of-type(7)')
[ float(i.text) for i in 승률]

[0.6, 0.554, 0.538, 0.512, 0.488, 0.479, 0.479, 0.46, 0.448, 0.438]

In [2]:
import numpy as np

순위 = 1 + np.arange(10) # 1 + (0~9)
팀 = np.array(['KIA', '삼성', 'LG', '두산', 'KT', 'SSG', '한화', '롯데', 'NC', '키움'])
승 = np.array([71, 66, 63, 62, 59, 58, 56, 51, 52, 53])
패 = np.array([48, 54, 55, 60, 61, 62, 60, 61, 63, 67])
무 = np.array([2, 2, 2, 2, 2, 1, 2, 3, 2, 0])
승률 = np.array([0.597, 0.55, 0.534, 0.508, 0.492, 0.483, 0.483, 0.455, 0.452, 0.442])
# print(팀)
# print(승)
# print(len(팀))

with open("datas/2024kbo.txt", 'w') as f:
    f.write("========== 2024 한국 프로야구 성적표 ==========\n")
    head = "순위\t팀\t승\t패\t무\t승률"
    f.write(head)
    f.write('\n')
    for i in range(len(팀)): # 10번 반복
        txt = f'{순위[i]}\t{팀[i]}\t{승[i]}\t{패[i]}\t{무[i]}\t{승률[i]}\n' #'\n' 줄바꿈
        f.write(txt)

In [3]:
import numpy as np

with open("datas/2024kbo.txt", 'r') as f:
    data = f.read()
    print(data)

========== 2024 한국 프로야구 성적표 ==========
순위	팀	승	패	무	승률
1	KIA	71	48	2	0.597
2	삼성	66	54	2	0.55
3	LG	63	55	2	0.534
4	두산	62	60	2	0.508
5	KT	59	61	2	0.492
6	SSG	58	62	1	0.483
7	한화	56	60	2	0.483
8	롯데	51	61	3	0.455
9	NC	52	63	2	0.452
10	키움	53	67	0	0.442